body {
	padding-top: 70px;
}
.bg-primary {
	padding: 8px;
}

.caption {
	height: 130px;
	overflow: hidden;
}
.caption h4 {
	white-space: nowrap;
}
.description, .name {
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}

.thumbnail img {
	width: 100%;
}

.thumbnail {
	padding: 0;
}

.thumbnail .caption-full {
	padding: 9px;
	color: #333;
}

footer {
	margin: 50px 0;
}